.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__mm5V3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mm5V3 {
    height: 80vh;
    width: 100%;
    max-width: none;
    max-height: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.img__fMSf {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}
.img__fMSf > picture > img {
  object-fit: cover;
}
.img__fMSf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___6Zvm9 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  bottom: 5%;
  right: 0px;
  padding: 8px 56px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Zvm9 {
    padding: 8px 32px;
  }
}
.freeBox___1WXf6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(4px 4px 0px #000000);
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1WXf6 {
    filter: drop-shadow(2px 2px 0px #000000);
  }
}
.slotTargetSlot {
  font-family: "BIZ UDMincho", serif;
  font-size: 8rem;
  font-weight: 700;
  color: var(--token-KUFb4wcAz);
  text-align: right;
  line-height: 1;
  font-style: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot {
    font-size: 4rem;
  }
}
.freeBox___2DWCq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(2px 2px 0px #000000);
  padding: 0px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2DWCq {
    padding-bottom: 16px;
  }
}
.slotTargetSlot2 {
  font-size: var(--token-BwOcdtoxJOlu);
  font-weight: 700;
  color: var(--token-Yq556PvPjGii);
  text-align: right;
  line-height: 1.2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot2 {
    font-size: var(--token-7z5Kw5B89TZR);
  }
}
.button2__pTyOk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hLoEl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mfAli {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
