.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.fullPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.fullpageheight:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sliderCarousel___7Xtub:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  display: flex;
  height: 100vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.link__oxV1A {
  position: relative;
  display: flex;
}
.img__u1Pi {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__u1Pi > picture > img {
  object-fit: cover;
}
.img__u1Pi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link___9XhIg {
  position: relative;
  display: flex;
}
.img__maMc {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__maMc > picture > img {
  object-fit: cover;
}
.img__maMc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__zuGBn {
  position: relative;
  display: flex;
}
.img__fbuK1 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__fbuK1 > picture > img {
  object-fit: cover;
}
.img__fbuK1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__p1Cf3 {
  position: relative;
  display: flex;
}
.img__kn1Ug {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__kn1Ug > picture > img {
  object-fit: cover;
}
.img__kn1Ug > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__hesOl {
  position: relative;
  display: flex;
}
.img__hGljC {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__hGljC > picture > img {
  object-fit: cover;
}
.img__hGljC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__nvUfg {
  position: relative;
  display: flex;
}
.img___7ZkK3 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img___7ZkK3 > picture > img {
  object-fit: cover;
}
.img___7ZkK3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__luPXr {
  position: relative;
  display: flex;
}
.img___5Al6 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img___5Al6 > picture > img {
  object-fit: cover;
}
.img___5Al6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__mx0KU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder___5EFoi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns___4WQdg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px var(--token-dT-owZu8-6an);
}
.columns___4WQdg > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - var(--token-oW80B2Q_Cufz));
  width: calc(100% + var(--token-oW80B2Q_Cufz));
  --plsmc-rc-col-gap: var(--token-oW80B2Q_Cufz);
}
.columns___4WQdg > :global(.__wab_flex-container) > *,
.columns___4WQdg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___4WQdg > :global(.__wab_flex-container) > picture > img,
.columns___4WQdg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oW80B2Q_Cufz);
}
.columns___4WQdg {
  --plsmc-rc-col-gap: 0px;
}
.columns___4WQdg > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___4WQdg > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___4WQdg > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4WQdg {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4WQdg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4WQdg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kfmfc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___7Ge68 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
}
.img___7Ge68 > picture > img {
  object-fit: cover;
}
.img___7Ge68 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mrg13 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.text___58ZP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 800;
  font-size: var(--token-hYndcje43OGL);
  min-width: 0;
}
.column__gmrMn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.text___89TRu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 800;
  font-size: var(--token-hYndcje43OGL);
  min-width: 0;
}
.section__xJgV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__mUb0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__ai3H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/jbs_storefront/images/asset51Png.png") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 32px 112px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ai3H {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__fLro1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-style: italic;
  color: var(--token-ZGgUq6H0D);
  line-height: 1.2;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fLro1 {
    font-size: 2rem;
  }
}
.categoryCollection:global(.__wab_instance) {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .categoryCollection:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.sliderCarousel__zvnue:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__fhh6D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fhh6D {
    padding: 12px;
  }
}
.link__in97Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 18rem;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__in97Q {
    height: 15rem;
    flex-shrink: 0;
  }
}
.img___1TGgh {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___1TGgh > picture > img {
  object-fit: cover;
}
.img___1TGgh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___8Bsa7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--token-BwOcdtoxJOlu);
  color: var(--token-ZGgUq6H0D);
  background: #ffffff;
  line-height: 2;
  border-top-style: solid;
  border-top-width: 2px;
  min-width: 0;
}
.text__q4Ri {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ygp1L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__kbatp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.blackyellowborder__kkJjt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sliderCarousel___6JHy3:global(.__wab_instance) {
  flex-direction: column;
  object-fit: cover;
  position: relative;
  width: 100%;
  justify-self: flex-start;
  height: 80vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel___6JHy3:global(.__wab_instance) {
    height: 40rem;
  }
}
.fullpagewidthSlide___3IreU:global(.__wab_instance) {
  width: 100%;
  height: 80vh;
  min-width: 0;
}
.img___2P15K {
  object-fit: cover;
  height: 100%;
  object-position: center top;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2P15K > picture > img {
  object-fit: cover;
  object-position: center top;
}
.img___2P15K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: center top;
}
.button2__tFz5U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___29EAs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__b6XsU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.fullpagewidthSlide__rOnB:global(.__wab_instance) {
  height: 80vh;
}
.img___5Sw5 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center top;
  min-width: 0;
  min-height: 0;
}
.img___5Sw5 > picture > img {
  object-fit: cover;
  object-position: center top;
}
.img___5Sw5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: center top;
}
.button2__jhWf9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gxi1Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ji79H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.fullpagewidthSlide__ozUiu:global(.__wab_instance) {
  height: 80vh;
}
.img__yv4Fp {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center top;
  min-width: 0;
  min-height: 0;
}
.img__yv4Fp > picture > img {
  object-fit: cover;
  object-position: center top;
}
.img__yv4Fp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: center top;
}
.button2__y1Vda:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hWa0C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uSdrZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__ccPei:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__gynRd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.productCollection__xe29Q:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.sliderCarousel__c4EJg:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
}
.link___56P1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___56P1 {
    display: none;
  }
}
.img__yEmDy {
  object-fit: cover;
  max-width: 100%;
  height: 20em;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-width: 2px;
  border-style: solid;
}
.img__yEmDy > picture > img {
  object-fit: cover;
}
.img__yEmDy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yEmDy {
    height: 15em;
    flex-shrink: 0;
  }
}
.freeBox___3KOtG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  min-width: 0;
  padding: 8px;
  border-style: solid;
}
.text__fwBfY {
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  min-width: 0;
}
.freeBox__lSvnH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__oi6Wl {
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___0Dse8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ePlfr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xIY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___3Ew:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__pkIu4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__qiHuq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__yw83G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/jbs_storefront/images/asset752Png.png") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text__tKuc {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  text-align: center;
  font-family: "Fraunces", serif;
  color: var(--token-Yq556PvPjGii);
  filter: drop-shadow(4px 4px 0px #000000);
  font-weight: 600;
  font-size: 56px;
  min-width: 0;
}
.section__gQ5Oc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__jNcp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___7Uz0X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Uz0X {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 24px 12px;
  }
}
.freeBox__mCkic {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20%;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mCkic {
    width: 20%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
  }
}
.img__f3JA {
  object-fit: cover;
  height: auto;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-29deg);
  width: 100%;
  position: absolute;
  left: 33px;
  top: 34px;
  min-width: 0;
}
.img__f3JA > picture > img {
  object-fit: cover;
}
.img__f3JA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__f3JA {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__zg89B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 8;
  min-width: 0;
  padding: 8px;
}
.freeBox__zg89B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zg89B > :global(.__wab_flex-container) > *,
.freeBox__zg89B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zg89B > :global(.__wab_flex-container) > picture > img,
.freeBox__zg89B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zg89B {
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zg89B > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-UEz8jpx4ZeEk));
    height: calc(100% + var(--token-UEz8jpx4ZeEk));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zg89B > :global(.__wab_flex-container) > *,
  .freeBox__zg89B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zg89B > :global(.__wab_flex-container) > picture > img,
  .freeBox__zg89B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-UEz8jpx4ZeEk);
  }
}
.text__uhnki {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uhnki {
    font-size: var(--token-hYndcje43OGL);
  }
}
.button2__uhJjf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 9;
}
.svg__l6U0R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ut7G4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__b9AXi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b9AXi {
    top: auto;
    left: auto;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 8px;
  }
}
.img__p06FD {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(7deg);
  position: absolute;
  left: -9px;
  top: 9px;
  min-width: 0;
  min-height: 0;
}
.img__p06FD > picture > img {
  object-fit: contain;
}
.img__p06FD > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__p06FD {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }
}
.section__thSrn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sliderCarousel__bioRg:global(.__wab_instance) {
  flex-direction: column;
  object-fit: cover;
  position: relative;
  width: 100%;
  justify-self: flex-start;
  height: 80vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel__bioRg:global(.__wab_instance) {
    height: 40rem;
  }
}
.fullpagewidthSlide2__esgQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 80vh;
}
.img__oRta7 {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}
.img__oRta7 > picture > img {
  object-fit: cover;
}
.img__oRta7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__vXp26 {
  text-align: right;
  text-transform: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vXp26 {
    text-align: right;
    max-width: 328px;
    width: 100%;
    min-width: 0;
  }
}
.text__ip4Eu {
  margin-left: 0px;
  max-width: 60%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ip4Eu {
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.button2__imimv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4Jq3B {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0NtMv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.fullpagewidthSlide2__hJkVl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__jb9Bo {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}
.img__jb9Bo > picture > img {
  object-fit: cover;
}
.img__jb9Bo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ihlPw {
  margin-left: 0px;
  max-width: 60%;
  width: 100%;
  min-width: 0;
}
.button2__cjr7B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4OJbB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hHoYz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.blackyellowborder__khznS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__gnDfX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.productCollection__oNdeW:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.sliderCarousel__rIq4E:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
}
.freeBox__ugMt1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugMt1 {
    display: none;
  }
}
.img__gNzlL {
  object-fit: cover;
  max-width: 100%;
  height: 20em;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
}
.img__gNzlL > picture > img {
  object-fit: cover;
}
.img__gNzlL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gNzlL {
    height: 15em;
    flex-shrink: 0;
  }
}
.freeBox__doKCv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.text__nW9Dp {
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  min-width: 0;
}
.freeBox__qw1Bn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jIxi {
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__y0DvB {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bCs1A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__eIt2N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___8R1Ui:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__jk7P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__qfSeR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 24px 8px;
}
.img__zl0Fd {
  object-fit: contain;
  width: 100%;
  height: 189px;
  max-width: 219px;
  position: relative;
  margin-right: 0px;
  min-width: 0;
}
.img__zl0Fd > picture > img {
  object-fit: contain;
}
.img__zl0Fd > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.section___4UKse:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__cPg8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__vUUfy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #b8dce4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__r9H7F {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.marquee:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__dHqP3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2em;
  min-width: 0;
}
.freeBox__riipX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__tPjZ4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tPjZ4 > picture > img {
  object-fit: cover;
}
.img__tPjZ4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gNDo7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.columns__mkbQx {
  --plsmc-rc-col-gap: 0px;
}
.columns__mkbQx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__mkbQx > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__mkbQx > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__mkbQx > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkbQx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkbQx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ejCnz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__aBxSm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ZGgUq6H0D);
  font-weight: 600;
  min-width: 0;
}
.column__f9Q7Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cQmWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
.column__uGeWu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__uGeWu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__uGeWu > :global(.__wab_flex-container) > *,
.column__uGeWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uGeWu > :global(.__wab_flex-container) > picture > img,
.column__uGeWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eFLx4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ZGgUq6H0D);
  font-weight: 600;
  min-width: 0;
}
.button2__u8Fkr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__c8KLx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__oOzB {
  font-size: var(--token-hYndcje43OGL);
  white-space: pre-wrap;
  line-height: 1;
  color: var(--token-ZGgUq6H0D);
  font-weight: 700;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 4em;
  height: 4em;
  color: var(--token-qoXYsQ1lS);
}
