.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-TWp-NYtFx);
  position: relative;
  min-width: 0;
}
.marquee:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-dsDMnV1ab3HP);
  text-transform: uppercase;
  font-style: italic;
  white-space: pre;
  font-weight: 700;
  min-width: 0;
}
