.button {
  display: flex;
  position: relative;
  flex-direction: row;
  background: #232320;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.5s;
  backdrop-filter: none;
  filter: none;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.5s;
  border-radius: 8px;
  padding: 4px 16px;
  border-width: 0px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.buttonshowStartIcon {
  padding-left: 16px;
}
.buttonshowEndIcon {
  padding-right: 16px;
}
.buttonisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.buttonshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.buttonshape_round {
  border-radius: 50%;
  padding: 12px;
}
.buttonshape_sharp {
  border-radius: 0px;
}
.buttonsize_compact {
  padding: 6px 16px;
}
.buttonsize_minimal {
  padding: 0px;
}
.buttoncolor_blue {
  background: #0091ff;
}
.buttoncolor_green {
  background: var(--token-058m_r2f2);
}
.buttoncolor_yellow {
  background: #f5d90a;
}
.buttoncolor_red {
  background: var(--token-qoXYsQ1lS);
}
.buttoncolor_sand {
  background: #717069;
}
.buttoncolor_white {
  background: #ffffff;
}
.buttoncolor_softBlue {
  background: #edf6ff;
}
.buttoncolor_softGreen {
  background: #e9f9ee;
}
.buttoncolor_softYellow {
  background: #fffbd1;
}
.buttoncolor_softRed {
  background: #fff0ee;
}
.buttoncolor_softSand {
  background: #eeeeec;
}
.buttoncolor_clear {
  background: #ffffff00;
}
.buttoncolor_link {
  background: #ffffff00;
}
.buttoncolor_redJbs {
  background: var(--token-qoXYsQ1lS);
}
.buttoncolor_darkRedJbs {
  background: #c20f12;
}
.buttonshadow_blackShadow {
  box-shadow: 6px 4px 0px 0px var(--token-ZGgUq6H0D);
  height: auto;
}
.buttonshadow_darkGreenShadow {
  box-shadow: 4px 4px 0px 0px var(--token-058m_r2f2);
}
.buttonborder_blackBorder {
  border: 2px solid var(--token-ZGgUq6H0D);
}
.buttonalignment_centreAligned > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.buttonalignment_leftAligned > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
}
.buttonshowStartIcon_shape_rounded {
  padding-left: 16px;
}
.buttonshowEndIcon_shape_rounded {
  padding-right: 16px;
}
.buttonshape_round_size_compact {
  padding: 6px;
}
.button:hover {
  background: var(--token-qoXYsQ1lS);
}
.buttoncolor_blue:hover {
  background: #369eff;
}
.buttoncolor_green:hover {
  background: #3cb179;
}
.buttoncolor_yellow:hover {
  background: #ffef5c;
}
.buttoncolor_red:hover {
  background: var(--token-qoXYsQ1lS);
}
.buttoncolor_sand:hover {
  background: #7f7e77;
}
.buttoncolor_white:hover {
  background: #ffef5c;
}
.buttoncolor_softBlue:hover {
  background: #e1f0ff;
}
.buttoncolor_softGreen:hover {
  background: #ddf3e4;
}
.buttoncolor_softYellow:hover {
  background: #fff8bb;
}
.buttoncolor_softRed:hover {
  background: #ffe6e2;
}
.buttoncolor_softSand:hover {
  background: #e9e9e6;
}
.buttoncolor_clear:hover {
  background: none;
}
.buttoncolor_link:hover {
  background: #ffffff00;
}
.button:focus-within {
  box-shadow: none;
  outline: none;
}
.button___focusVisibleWithin {
  box-shadow: none;
  outline: none;
}
.button:active {
  background: var(--token-rsXupMq7yfBJ);
}
.buttoncolor_blue:active {
  background: #52a9ff;
}
.buttoncolor_green:active {
  background: #4cc38a;
}
.buttoncolor_yellow:active {
  background: #f0c000;
}
.buttoncolor_red:active {
  background: var(--token-qoXYsQ1lS);
}
.buttoncolor_sand:active {
  background: #a1a09a;
}
.buttoncolor_white:active {
  background: #f0c000;
}
.buttoncolor_softBlue:active {
  background: #cee7fe;
}
.buttoncolor_softGreen:active {
  background: #ccebd7;
}
.buttoncolor_softYellow:active {
  background: #fef2a4;
}
.buttoncolor_softRed:active {
  background: #fdd8d3;
}
.buttoncolor_softSand:active {
  background: #e3e3e0;
}
.buttoncolor_clear:active {
  background: none;
}
.buttoncolor_link:active {
  background: #ffffff00;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_yellow {
  color: #35290f;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_softBlue {
  color: #006adc;
}
.slotTargetStartIconcolor_softGreen {
  color: #18794e;
}
.slotTargetStartIconcolor_softYellow {
  color: #946800;
}
.slotTargetStartIconcolor_softRed {
  color: #ca3214;
}
.slotTargetStartIconcolor_softSand {
  color: #706f6c;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.buttoncolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.buttoncolor_link:active .slotTargetStartIconcolor_link {
  color: #006adc;
}
.svg__eRnuS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.contentContainercolor_clear {
  width: 100%;
  min-width: 0;
}
.button .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetChildren {
    font-size: 1rem;
  }
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_yellow {
  color: #35290f;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_sand {
  color: #ffffff;
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_softBlue {
  color: #006adc;
}
.slotTargetChildrencolor_softGreen {
  color: #18794e;
}
.slotTargetChildrencolor_softYellow {
  color: #946800;
}
.slotTargetChildrencolor_softRed {
  color: #ca3214;
}
.slotTargetChildrencolor_softSand {
  color: #1b1b18;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.button:hover .slotTargetChildren {
  color: var(--token-KUFb4wcAz);
}
.buttoncolor_red:hover .slotTargetChildrencolor_red {
  color: var(--token-KUFb4wcAz);
}
.buttoncolor_clear:hover .slotTargetChildrencolor_clear {
  color: var(--token-vg8USqXsf);
}
.buttoncolor_link:hover .slotTargetChildrencolor_link {
  color: #0081f1;
}
.buttoncolor_link:hover .slotTargetChildrencolor_link > :global(.__wab_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_expr_html_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot-string-wrapper),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.buttoncolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.button:focus-within .slotTargetChildren > *,
.button:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.button:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.button:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.button:focus-within .slotTargetChildren > picture > img,
.button:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.button:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.button:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.button .slotTargetChildren___focusVisibleWithin > *,
.button .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.button
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.button
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.button .slotTargetChildren___focusVisibleWithin > picture > img,
.button
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.button
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.button
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.button:active .slotTargetChildren {
  color: var(--token-KUFb4wcAz);
}
.buttoncolor_red:active .slotTargetChildrencolor_red {
  color: var(--token-sn6Zb6km7CqW);
}
.buttoncolor_clear:active .slotTargetChildrencolor_clear {
  color: var(--token-058m_r2f2);
}
.buttoncolor_link:active .slotTargetChildrencolor_link {
  color: #006adc;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_yellow {
  color: #35290f;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_softBlue {
  color: #006adc;
}
.slotTargetEndIconcolor_softGreen {
  color: #18794e;
}
.slotTargetEndIconcolor_softYellow {
  color: #946800;
}
.slotTargetEndIconcolor_softRed {
  color: #ca3214;
}
.slotTargetEndIconcolor_softSand {
  color: #706f6c;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.buttoncolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.buttoncolor_link:active .slotTargetEndIconcolor_link {
  color: #006adc;
}
.svg__hgyn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
