.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qCrJf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-TWp-NYtFx);
  min-width: 0;
}
.marquee:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ZGgUq6H0D);
  text-transform: uppercase;
  font-style: italic;
  white-space: pre;
  font-weight: 400;
  font-size: 1.2rem;
  min-width: 0;
}
.freeBox__kesXh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background: var(--token-qoXYsQ1lS);
  height: 36px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__kesXh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-oW80B2Q_Cufz));
  width: calc(100% + var(--token-oW80B2Q_Cufz));
}
.freeBox__kesXh > :global(.__wab_flex-container) > *,
.freeBox__kesXh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kesXh > :global(.__wab_flex-container) > picture > img,
.freeBox__kesXh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oW80B2Q_Cufz);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kesXh > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-oYI7ebdZitcv));
    width: calc(100% + var(--token-oYI7ebdZitcv));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kesXh > :global(.__wab_flex-container) > *,
  .freeBox__kesXh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kesXh > :global(.__wab_flex-container) > picture > img,
  .freeBox__kesXh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-oYI7ebdZitcv);
    margin-top: 0px;
  }
}
.freeBox__xNppI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.jbsMenu:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  margin-top: 4px;
}
.freeBox__yR3M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 80px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.link {
  position: absolute;
  top: -80%;
  left: auto;
  bottom: auto;
  right: auto;
  display: flex;
  width: 10em;
  justify-content: center;
  align-items: flex-start;
  color: var(--token-ZGgUq6H0D);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    top: -40%;
  }
}
.svg {
  object-fit: cover;
  height: 100%;
  color: var(--token-vg8USqXsf);
  width: 100%;
  align-self: auto;
  z-index: 11;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    height: 6em;
  }
}
.freeBox__zbKg3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 12px;
  min-width: 0;
}
.freeBox__zbKg3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - var(--token-UEz8jpx4ZeEk));
  width: calc(100% + var(--token-UEz8jpx4ZeEk));
}
.freeBox__zbKg3 > :global(.__wab_flex-container) > *,
.freeBox__zbKg3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zbKg3 > :global(.__wab_flex-container) > picture > img,
.freeBox__zbKg3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-UEz8jpx4ZeEk);
}
.goToCartButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
