.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Yq556PvPjGii);
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 0;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.link {
  position: relative;
  top: auto;
  left: auto;
  align-self: stretch;
  display: flex;
  width: 100%;
  min-width: 0;
}
.productInSlider:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tIwoj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ksPSu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__fWwdg {
  position: absolute;
  z-index: 2;
  top: 30%;
  right: 0%;
  left: auto;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  max-width: 100%;
  min-width: auto;
  min-height: none;
  max-height: none;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 16px;
  margin-left: 16px;
}
.img__fWwdg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fWwdg {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.img__mi8EP {
  position: absolute;
  top: 30%;
  left: 0px;
  width: 50px;
  height: auto;
  min-width: auto;
  min-height: none;
  max-width: auto;
  max-height: none;
  flex-grow: 0;
  flex-shrink: 1;
  object-fit: cover;
  margin-right: 16px;
  margin-left: 16px;
}
.img__mi8EP > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mi8EP {
    margin-right: 8px;
    margin-left: 8px;
  }
}
