.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  padding-right: 8px;
  padding-left: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: var(--token-qoXYsQ1lS);
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.rootrevealMenu {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
}
.rootrevealMenu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootrevealMenu > :global(.__wab_flex-container) > *,
.rootrevealMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootrevealMenu > :global(.__wab_flex-container) > picture > img,
.rootrevealMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootrevealMenu {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    justify-self: flex-start;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootrevealMenu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootrevealMenu > :global(.__wab_flex-container) > *,
  .rootrevealMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .rootrevealMenu > :global(.__wab_flex-container) > picture > img,
  .rootrevealMenu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.rootrevealSubMenu {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 16px;
}
.rootrevealSubMenu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootrevealSubMenu > :global(.__wab_flex-container) > *,
.rootrevealSubMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootrevealSubMenu > :global(.__wab_flex-container) > picture > img,
.rootrevealSubMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootrevealSubMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootrevealSubMenu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootrevealSubMenu > :global(.__wab_flex-container) > *,
  .rootrevealSubMenu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .rootrevealSubMenu > :global(.__wab_flex-container) > picture > img,
  .rootrevealSubMenu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.button2__df7Kl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__df7Kl:global(.__wab_instance) {
    display: flex;
  }
}
.button2revealMenu__df7KlxT6MH:global(.__wab_instance) {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealMenu__df7KlxT6MH:global(.__wab_instance) {
    display: flex;
  }
}
.button2revealSubMenu__df7KlBjo1Y:global(.__wab_instance) {
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealSubMenu__df7KlBjo1Y:global(.__wab_instance) {
    display: flex;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  height: 100%;
  flex-shrink: 1;
  width: 22px;
  min-height: 0;
  margin: 4px;
}
.svgrevealMenu {
  color: var(--token-Yq556PvPjGii);
  margin-bottom: 0px;
}
.svgrevealSubMenu {
  color: var(--token-Yq556PvPjGii);
}
.svg__rBhnM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__awoOm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__zu9X:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__zu9X:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealMenu__zu9XxT6MH:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealSubMenu__zu9XBjo1Y:global(.__wab_instance) {
    display: flex;
  }
}
.svg__mO9Ne {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oPaqX {
  color: var(--token-Yq556PvPjGii);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-right: 4px;
  padding-left: 4px;
}
.svg__seWwx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__v8Y8:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__v8Y8:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealMenu__v8Y8XT6MH:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealSubMenu__v8Y8Bjo1Y:global(.__wab_instance) {
    display: flex;
  }
}
.svg___3Tc0H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__llyAo {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-Yq556PvPjGii);
  font-size: 1.2rem;
  padding-right: 4px;
  padding-left: 4px;
}
.svg__bFLa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-qoXYsQ1lS);
  min-width: 0;
  border-radius: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxrevealMenu {
    display: flex;
  }
}
.freeBoxrevealSubMenu {
  width: auto;
  border-radius: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxrevealSubMenu {
    display: flex;
  }
}
.button2__lZ0WF:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__lZ0WF:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealMenu__lZ0WFxT6MH:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealSubMenu__lZ0WFBjo1Y:global(.__wab_instance) {
    display: flex;
  }
}
.svg___0Pnqd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vmlsA {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-Yq556PvPjGii);
  font-size: 1.2rem;
  padding-right: 4px;
  padding-left: 4px;
}
.svg__ihJs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__cQnou:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__cQnou:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealMenu__cQnoUxT6MH:global(.__wab_instance) {
    display: none;
  }
}
.button2revealSubMenu__cQnouBjo1Y:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2revealSubMenu__cQnouBjo1Y:global(.__wab_instance) {
    display: flex;
  }
}
.svg__d1Gnz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pTqo5 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-Yq556PvPjGii);
  font-size: 1rem;
}
.svg__yJUt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.categoryCollection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
  row-gap: 4px;
  padding: 8px 8px 8px 16px;
}
.categoryCollectionrevealMenu:global(.__wab_instance) {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .categoryCollectionrevealMenu:global(.__wab_instance) {
    overflow: hidden;
    height: auto;
    display: none;
  }
}
.categoryCollectionrevealSubMenu:global(.__wab_instance) {
  width: auto;
  display: flex;
  padding: 0px 4px 8px 8px;
}
.button2__j93E8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__rCiF7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9Rl8Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__coRT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bxrNg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
