.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.fullPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section__socp9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  display: flex;
  height: auto;
  background: var(--token-ZGgUq6H0D);
  max-height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    display: none;
  }
}
.link__loRam {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__a3Vuy {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__a3Vuy > picture > img {
  object-fit: cover;
}
.link__qqfE8 {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__maMc {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__maMc > picture > img {
  object-fit: cover;
}
.link__wyWZm {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__fbuK1 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__fbuK1 > picture > img {
  object-fit: cover;
}
.link__xVpH {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__kn1Ug {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kn1Ug > picture > img {
  object-fit: cover;
}
.link___3PNaq {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img___5Al6 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img___5Al6 > picture > img {
  object-fit: cover;
}
.link___3Dryk {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__ez6Ph {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__ez6Ph > picture > img {
  object-fit: cover;
}
.link__pPqLb {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__hGljC {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hGljC > picture > img {
  object-fit: cover;
}
.link__nkiim {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img___7ZkK3 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img___7ZkK3 > picture > img {
  object-fit: cover;
}
.sliderCarousel12:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  object-fit: cover;
  position: relative;
  height: auto;
  background: var(--token-ZGgUq6H0D);
  max-height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel12:global(.__wab_instance) {
    display: flex;
  }
}
.link___3Bsy6 {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__jfnqm {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jfnqm > picture > img {
  object-fit: cover;
}
.link__se1HA {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__gzkOn {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__gzkOn > picture > img {
  object-fit: cover;
}
.link__kehKl {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__fg3Ce {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__fg3Ce > picture > img {
  object-fit: cover;
}
.link__rLtZm {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__dRg4V {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dRg4V > picture > img {
  object-fit: cover;
}
.link__sfOMf {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__mOrn8 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__mOrn8 > picture > img {
  object-fit: cover;
}
.link__mItGv {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__g5C5C {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__g5C5C > picture > img {
  object-fit: cover;
}
.link__otkC {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__xpx4D {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xpx4D > picture > img {
  object-fit: cover;
}
.link__uUwEz {
  display: flex;
  color: var(--token-ZGgUq6H0D);
}
.img__ajjks {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__ajjks > picture > img {
  object-fit: cover;
}
.freeBox__yru1 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 1rem;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 1rem;
}
.svg__wPtgL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__wPtgL {
    height: 32px;
  }
}
.svg__pcsIa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__pcsIa {
    height: 32px;
  }
}
.section__mx0KU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder___5EFoi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.columns___4WQdg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  padding-bottom: 24px;
  padding-top: 24px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.columns___4WQdg > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
}
.columns___4WQdg > :global(.__wab_flex-container) > *,
.columns___4WQdg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___4WQdg > :global(.__wab_flex-container) > picture > img,
.columns___4WQdg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.columns___4WQdg {
  --plsmc-rc-col-gap: 0px;
}
.columns___4WQdg > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___4WQdg > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___4WQdg > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4WQdg {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4WQdg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4WQdg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kfmfc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___7Ge68 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  margin-bottom: 0px;
}
.img___7Ge68 > picture > img {
  object-fit: contain;
}
.column__mrg13 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.text___58ZP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
.column__gmrMn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.text___89TRu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
.section__xJgV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__mUb0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__ai3H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/jbs_storefront/images/beachBg.webp") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 32px 112px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ai3H {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__fLro1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-style: italic;
  color: var(--token-ZGgUq6H0D);
  line-height: 1.2;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fLro1 {
    font-size: 2rem;
  }
}
.categoryCollection:global(.__wab_instance) {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .categoryCollection:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.sliderCarousel2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel2:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__fhh6D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fhh6D {
    padding: 12px;
  }
}
.link__in97Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__in97Q {
    height: 15rem;
    flex-shrink: 0;
  }
}
.img___1TGgh {
  object-fit: cover;
  height: auto;
  width: 100%;
  min-width: 0;
}
.img___1TGgh > picture > img {
  object-fit: cover;
}
.text___8Bsa7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--token-ZGgUq6H0D);
  background: #ffffff;
  line-height: 1;
  border-top-style: solid;
  border-top-width: 2px;
  min-width: 0;
  padding: var(--token-oYI7ebdZitcv);
}
.sliderCarousel9:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  height: auto;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel9:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__ktbqo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ktbqo {
    padding: 12px;
  }
}
.link__lqpxu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.img___76TeL {
  object-fit: cover;
  height: auto;
  width: 100%;
  min-width: 0;
}
.img___76TeL > picture > img {
  object-fit: cover;
}
.text__hSUp8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--token-ZGgUq6H0D);
  background: #ffffff;
  line-height: 1;
  border-top-style: solid;
  border-top-width: 2px;
  min-width: 0;
  padding: var(--token-oYI7ebdZitcv);
}
.text__q4Ri {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ygp1L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__kbatp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__jv4Mt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-vg8USqXsf);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.marquee__s7ZZl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__sH11P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-transform: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--token-ZGgUq6H0D);
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sH11P {
    font-size: 1rem;
  }
}
.sliderCarousel3:global(.__wab_instance) {
  flex-direction: column;
  object-fit: cover;
  position: relative;
  width: 100%;
  justify-self: flex-start;
  height: 100vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel3:global(.__wab_instance) {
    height: 100%;
    background: var(--token-ZGgUq6H0D);
    min-height: 0;
  }
}
.fullpagewidthSlide___3IreU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fullpagewidthSlide___3IreU:global(.__wab_instance) {
    height: auto;
  }
}
.img___2P15K {
  object-fit: cover;
  height: 100%;
  object-position: center center;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2P15K > picture > img {
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fullpagewidthSlide__rOnB:global(.__wab_instance) {
    height: auto;
  }
}
.img___5Sw5 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center 10%;
  min-width: 0;
  min-height: 0;
}
.img___5Sw5 > picture > img {
  object-fit: cover;
  object-position: center 10%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___5Sw5 {
    object-position: center center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___5Sw5 > picture > img {
    object-position: center center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .fullpagewidthSlide__ozUiu:global(.__wab_instance) {
    height: auto;
  }
}
.img__yv4Fp {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 50% 40%;
  min-width: 0;
  min-height: 0;
}
.img__yv4Fp > picture > img {
  object-fit: cover;
  object-position: 50% 40%;
}
.freeBox__gObM4 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 52px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 1rem;
}
.svg__ueUEi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ueUEi {
    height: 32px;
  }
}
.svg__e9HYg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__e9HYg {
    height: 32px;
  }
}
.freeBox__aKsCx {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: auto;
  justify-self: flex-end;
  bottom: 0%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 5% 5% 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aKsCx {
    padding-right: 10%;
    padding-bottom: 10%;
  }
}
.freeBox__mHaDk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  filter: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mHaDk {
    filter: none;
  }
}
.slotTargetSlot {
  font-family: "BIZ UDMincho", serif;
  font-size: 8rem;
  font-weight: 700;
  color: var(--token-ZGgUq6H0D);
  text-align: right;
  text-transform: uppercase;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot {
    font-size: 4rem;
  }
}
.freeBox__l88HA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  filter: none;
  padding: 0px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l88HA {
    padding-bottom: 16px;
  }
}
.slotTargetSlot2 {
  font-size: var(--token-BwOcdtoxJOlu);
  font-weight: 700;
  color: var(--token-ZGgUq6H0D);
  text-align: right;
  line-height: 1.2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot2 {
    font-size: var(--token-7z5Kw5B89TZR);
  }
}
.button2__fCyO0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wgxr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rp9Ax {
  text-transform: none;
}
.svg__k7JbE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gynRd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ZGgUq6H0D);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.productCollection__xe29Q:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.sliderCarousel4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  background: var(--token-ZGgUq6H0D);
  min-width: 0;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel4:global(.__wab_instance) {
    display: none;
  }
}
.productCardNew__fksmj:global(.__wab_instance) {
  position: relative;
}
.sliderCarousel10:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  background: var(--token-ZGgUq6H0D);
  min-width: 0;
  display: none;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel10:global(.__wab_instance) {
    display: flex;
  }
}
.productCardNew__r3I9T:global(.__wab_instance) {
  position: relative;
}
.text__ePlfr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xIY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___3Ew:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__pkIu4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__qiHuq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__yw83G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/jbs_storefront/images/floweryBg2.webp") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 48px;
}
.freeBox__yw83G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yw83G > :global(.__wab_flex-container) > *,
.freeBox__yw83G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yw83G > :global(.__wab_flex-container) > picture > img,
.freeBox__yw83G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yw83G {
    padding: 32px 0px;
  }
}
.text__tKuc {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  text-align: center;
  font-family: "Fraunces", serif;
  color: var(--token-Yq556PvPjGii);
  filter: drop-shadow(2px 2px 0px #000000);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tKuc {
    font-size: 32px;
  }
}
.sliderCarousel5:global(.__wab_instance) {
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel5:global(.__wab_instance) {
    display: none;
  }
}
.productCollection__ctIC:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin: 1.5rem;
}
.productBox__byAfg:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: auto;
  min-height: 0;
}
.freeBox___8BaHw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  min-height: 0;
  border-radius: 16px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.productMedia__pNbSx:global(.__wab_instance) {
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__uvc6Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.productTextField__bv4Di:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ZGgUq6H0D);
  white-space: pre;
}
.text__sUDj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___7Nuk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCollection__dH69B:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin: 1.5rem;
}
.productBox__r6Hmx:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: auto;
  min-height: 0;
}
.freeBox__bfvQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  min-height: 0;
  border-radius: 16px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.productMedia__goqSz:global(.__wab_instance) {
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__xdgws {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.productTextField__xvKXh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ZGgUq6H0D);
  white-space: pre;
}
.text__aJy2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lInVg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCollection__qQncX:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin: 1.5rem;
}
.productBox__uevg3:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: auto;
  min-height: 0;
}
.freeBox__lcBy4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  min-height: 0;
  border-radius: 16px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.productMedia___3J1I:global(.__wab_instance) {
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___5WgZq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.productTextField___6VvHr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ZGgUq6H0D);
  white-space: pre;
}
.text__sm7G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__g1U6O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sliderCarousel11:global(.__wab_instance) {
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel11:global(.__wab_instance) {
    display: flex;
  }
}
.productCollection__s8XSc:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin: 1.5rem;
}
.productBox__mbHnp:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: auto;
  min-height: 0;
}
.freeBox__hOQe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  min-height: 0;
  border-radius: 16px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.productMedia__otHxq:global(.__wab_instance) {
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__qlKlT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.productTextField__uUUu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ZGgUq6H0D);
  white-space: pre;
}
.text__v7Zy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__omqJ2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCollection__vUk:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin: 1.5rem;
}
.productBox__zEb3Y:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: auto;
  min-height: 0;
}
.freeBox__gFtGs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  min-height: 0;
  border-radius: 16px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.productMedia__naLet:global(.__wab_instance) {
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__uzXsL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.productTextField__zyg1U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ZGgUq6H0D);
  white-space: pre;
}
.text__orY77 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__biwOi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.productCollection___4FsTx:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin: 1.5rem;
}
.productBox__in7F9:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  width: auto;
  min-height: 0;
}
.freeBox__dhW0X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
  min-height: 0;
  border-radius: 16px;
  border: 2px solid var(--token-ZGgUq6H0D);
}
.productMedia___07N7N:global(.__wab_instance) {
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__v9Ps0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.productTextField__axe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--token-ZGgUq6H0D);
  white-space: pre;
}
.text__dagNw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__nncJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__h1Sbz {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: 3%;
  bottom: 2%;
}
.productCollection__oDCk:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.link__ayR2O {
  position: relative;
  display: flex;
}
.surpriseMeButton:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .surpriseMeButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__vDoyf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___6Vrqb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__gQ5Oc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__jNcp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___7Uz0X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Uz0X {
    display: flex;
    padding: 24px 12px;
  }
}
.freeBox__mCkic {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20%;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mCkic {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}
.img__f3JA {
  object-fit: contain;
  height: auto;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-29deg);
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__f3JA > picture > img {
  object-fit: contain;
}
.freeBox__zg89B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 8;
  min-width: 0;
  padding: 0px;
}
.freeBox__zg89B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zg89B > :global(.__wab_flex-container) > *,
.freeBox__zg89B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zg89B > :global(.__wab_flex-container) > picture > img,
.freeBox__zg89B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zg89B {
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zg89B > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-UEz8jpx4ZeEk));
    height: calc(100% + var(--token-UEz8jpx4ZeEk));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zg89B > :global(.__wab_flex-container) > *,
  .freeBox__zg89B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zg89B > :global(.__wab_flex-container) > picture > img,
  .freeBox__zg89B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-UEz8jpx4ZeEk);
  }
}
.text__uhnki {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.2;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uhnki {
    font-size: 1.2rem;
  }
}
.button2__uhJjf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 9;
}
.svg__l6U0R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ut7G4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__b9AXi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 20%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b9AXi {
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: auto;
    top: auto;
    align-self: center;
    min-height: 0;
  }
}
.img__p06FD {
  object-fit: contain;
  width: 100%;
  height: auto;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(7deg);
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__p06FD > picture > img {
  object-fit: contain;
}
.blackyellowborder__khznS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.section__xrVwI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.sliderCarousel6:global(.__wab_instance) {
  flex-direction: column;
  object-fit: cover;
  position: relative;
  justify-self: flex-start;
  width: 100%;
  background: var(--token-ZGgUq6H0D);
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel6:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
  }
}
.fullpagewidthSlide2__hJkVl:global(.__wab_instance) {
  height: 100%;
  max-width: 100%;
  min-height: 0;
}
.img__jb9Bo {
  object-position: 50% center;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  min-width: 0;
}
.img__jb9Bo > picture > img {
  object-fit: cover;
  object-position: 50% center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jb9Bo {
    object-fit: cover;
    object-position: 25% center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jb9Bo > picture > img {
    object-fit: cover;
    object-position: 25% center;
  }
}
.freeBox__dEnIl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__dEnIl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__dEnIl > :global(.__wab_flex-container) > *,
.freeBox__dEnIl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dEnIl > :global(.__wab_flex-container) > picture > img,
.freeBox__dEnIl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEnIl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEnIl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEnIl > :global(.__wab_flex-container) > *,
  .freeBox__dEnIl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dEnIl > :global(.__wab_flex-container) > picture > img,
  .freeBox__dEnIl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text___32Kg5 {
  text-transform: uppercase;
  width: auto;
}
.text__a5EqD {
  text-transform: uppercase;
  width: auto;
}
.text__ihlPw {
  margin-left: 0px;
  max-width: 60%;
  width: 100%;
  font-size: 1.5rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ihlPw {
    font-size: 1rem;
    max-width: 80%;
    width: 100%;
    min-width: 0;
  }
}
.button2__cjr7B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__epIqa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wsr9R {
  text-transform: capitalize;
}
.svg__jWmmK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.fullpagewidthSlide2__esgQ:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__oRta7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__oRta7 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oRta7 {
    object-position: 25% 50%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oRta7 > picture > img {
    object-position: 25% 50%;
  }
}
.freeBox__oCcH {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__oCcH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__oCcH > :global(.__wab_flex-container) > *,
.freeBox__oCcH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oCcH > :global(.__wab_flex-container) > picture > img,
.freeBox__oCcH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oCcH {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oCcH > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oCcH > :global(.__wab_flex-container) > *,
  .freeBox__oCcH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oCcH > :global(.__wab_flex-container) > picture > img,
  .freeBox__oCcH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__gW7Ez {
  text-transform: uppercase;
  width: auto;
}
.text___2Rj5D {
  text-transform: uppercase;
  width: auto;
}
.text__ip4Eu {
  margin-left: 0px;
  max-width: 60%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ip4Eu {
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.button2__imimv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aa6TT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2HDp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xLbiy {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 1rem;
}
.svg__lU8Lr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lU8Lr {
    height: 32px;
  }
}
.svg__k2DXu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yq556PvPjGii);
  height: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__k2DXu {
    height: 32px;
  }
}
.freeBox__gnDfX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.productCollection__oNdeW:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.sliderCarousel7:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: var(--token-ZGgUq6H0D);
  color: var(--token-ZGgUq6H0D);
  display: block;
  min-width: 0;
  border: 1px solid var(--token-ZGgUq6H0D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel7:global(.__wab_instance) {
    display: none;
  }
}
.productCardNew__iddV2:global(.__wab_instance) {
  position: relative;
}
.sliderCarousel8:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  background: var(--token-ZGgUq6H0D);
  min-width: 0;
  display: none;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel8:global(.__wab_instance) {
    display: flex;
  }
}
.productCardNew__txNs1:global(.__wab_instance) {
  position: relative;
}
.text__bCs1A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__eIt2N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___8R1Ui:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__jk7P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__qfSeR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 24px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qfSeR {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.link___7SH7 {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  color: #0070f300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7SH7 {
    margin-right: 0px;
  }
}
.img__zl0Fd {
  object-fit: contain;
  width: 100%;
  height: 189px;
  max-width: 219px;
  min-width: 0;
}
.img__zl0Fd > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zl0Fd {
    max-width: 120px;
    height: 120px;
  }
}
.img__fdlkx {
  object-fit: contain;
  width: 100%;
  position: relative;
  max-width: 1000px;
  min-width: 0;
}
.img__fdlkx > picture > img {
  object-fit: contain;
}
.section___4UKse:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.blackyellowborder__cPg8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__r9H7F {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-vg8USqXsf);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.marquee__hmz1V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__dHqP3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--token-ZGgUq6H0D);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dHqP3 {
    font-size: 1rem;
  }
}
.freeBox__riipX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__gx5Wa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gx5Wa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gx5Wa {
    display: none !important;
  }
}
.img__tPjZ4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__tPjZ4 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tPjZ4 {
    display: block !important;
  }
}
.freeBox__gNDo7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  padding-top: 24px;
  padding-bottom: 48px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__gNDo7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__gNDo7 > :global(.__wab_flex-container) > *,
.freeBox__gNDo7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gNDo7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gNDo7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns__mkbQx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__mkbQx > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__mkbQx > :global(.__wab_flex-container) > *,
.columns__mkbQx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mkbQx > :global(.__wab_flex-container) > picture > img,
.columns__mkbQx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__mkbQx {
  --plsmc-rc-col-gap: 0px;
}
.columns__mkbQx > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__mkbQx > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__mkbQx > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkbQx {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkbQx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mkbQx > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ejCnz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__aBxSm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ZGgUq6H0D);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.25rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aBxSm {
    font-size: 1rem;
  }
}
.column__f9Q7Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__cQmWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  color: var(--token-ZGgUq6H0D);
  font-size: 1.25rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cQmWl {
    font-size: 1rem;
  }
}
.column__uGeWu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__uGeWu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__uGeWu > :global(.__wab_flex-container) > *,
.column__uGeWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uGeWu > :global(.__wab_flex-container) > picture > img,
.column__uGeWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eFLx4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ZGgUq6H0D);
  font-weight: 600;
  font-size: 1.25rem;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eFLx4 {
    font-size: 1rem;
  }
}
.button2__u8Fkr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__u8Fkr:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__c8KLx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oOzB {
  font-size: 1rem;
  white-space: pre-wrap;
  line-height: 1;
  color: var(--token-Yq556PvPjGii);
  font-weight: 700;
  text-transform: none;
  height: auto;
}
.svg__sYyPb {
  position: relative;
  object-fit: cover;
  width: 3em;
  height: 2rem;
  color: var(--token-Yq556PvPjGii);
}
