.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  position: relative;
  min-height: 0;
  border: 1px solid var(--token-ZGgUq6H0D);
}
.link__cdKoo {
  display: flex;
  color: var(--token-ZGgUq6H0D);
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.productMedia__rUWyF:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  transition-property: all;
  transition-duration: 0.5s;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productMedia__rUWyF:global(.__wab_instance) {
    border-width: 2px;
  }
}
.root:hover .productMedia__rUWyF:global(.__wab_instance) {
  opacity: 0;
  display: none;
}
.productMedia__zreYd:global(.__wab_instance) {
  object-fit: cover;
  height: 100%;
  transition-property: all;
  transition-duration: 0.5s;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  min-width: 0;
  min-height: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productMedia__zreYd:global(.__wab_instance) {
    border-width: 2px;
  }
}
.root:hover .productMedia__zreYd:global(.__wab_instance) {
  opacity: 1;
  display: flex;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-oYI7ebdZitcv);
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-cSJ2BJk-9JCq));
  height: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-cSJ2BJk-9JCq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
  }
}
.link___7Zco {
  display: flex;
  width: 100%;
  min-width: 0;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  font-size: var(--token-BlA-iDkaAWvO);
  text-transform: uppercase;
  line-height: 1.2;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
  color: var(--token-ZGgUq6H0D);
}
@media (min-width: 0px) and (max-width: 768px) {
  .productTextField:global(.__wab_instance) {
    font-size: var(--token-o0Nl0Hefncwa);
  }
}
.root:hover .productTextField:global(.__wab_instance) {
  color: var(--token-qoXYsQ1lS);
}
.productPrice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-style: italic;
  font-size: var(--token-hYndcje43OGL);
}
