.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-2XemaP11eshr);
}
.addToCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-vg8USqXsf);
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.addToCartaddedToCartVariant {
  background: var(--token-qoXYsQ1lS);
}
.root:hover .addToCart {
  background: var(--token-058m_r2f2);
}
.root:active .addToCart {
  background: var(--token-qoXYsQ1lS);
}
.addToCartButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__lp97B {
  text-transform: uppercase;
  color: var(--token-Yq556PvPjGii);
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  filter: none;
  transform: none;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  border-width: 1px;
  border-style: none;
}
.soldOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-kzT08fQBAHgz);
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.soldOutaddedToCartVariant {
  background: var(--token-qoXYsQ1lS);
}
.root:hover .soldOut {
  background: var(--token-RvPI6LyeIPmd);
}
.root:active .soldOut {
  background: var(--token-ZGgUq6H0D);
}
.button___3ObkG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token--CJyLZMWTKlG);
  font-size: var(--token-7z5Kw5B89TZR);
  font-weight: 500;
  min-width: 0;
}
